<%= link_to("<< Back to List", tracks_path, :class => 'back-link') %>

<div class="tracks edit">
  <h2>Update Track</h2>

  <%= form_for(@track, :url => track_path, :html => { :multipart => true }) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form_buttons">
      <%= f.submit("Update Track") %>
    </div>
  <% end %>
  <table class="listing" summary="Stop list"

    <tr class="header">
      <th>title</th>
      <th>Stop</th>
      <th>Time</th>
    </tr>

    <% @track.stops.each do |stop| %>
    <tr>
      <td><%= stop.stop_title %></td>
      <td><%= stop.stop_number %></td>
      <td><%= stop.stop_time %></td>
      <td><%= link_to("Delete", delete_stop_in_track_path(@track.id,stop.id)) %></td>
    </tr>
  <% end %>
  </table>
</div>
