<% @page_title = "All Tracks" %>

<%= link_to("<< Back to Admin Overview", admin_path, :class => 'back-link') %>

<div class="tracks index">
  <h1>Tracks</h1>

  <%= link_to("Add New Track", new_track_path, :class => 'action new') %>

  <p>&nbsp;</p>

  <table class="listing" summary="Track list"

    <tr class="header">
      <th>Track</th>
      <th>#</th>
      <th>Version</th>
      <th>Date</th>
      <th>Location</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Pitch</th>
      <th>Length</th>
      <th>Permalink</th>
      <th>Visible</th>
      <th>Sound Attachment</th>
      <th>Image</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>

    <% @tracks.each do |track| %>
    <tr>
      <td><%= track.name %></td>
      <td><%= track.track_number %></td>
      <td><%= track.track_version %></td>
      <td class="center"><%= track.date_finished.strftime("%d %b %Y") %></td>
      <td class="center"><%= track.location_finished %></td>
      <td class="center"><%= track.latitude %></td>
      <td class="center"><%= track.longitude %></td>
      <td class="center"><%= track.pitch %></td>
      <td class="center"><%= track.length.strftime("%H:%M:%S") %></td>
      <td class="center"><%= track.permalink %></td>
      <td class="center"><%= status_tag(track.visible) %></td>
      <td><%= track.sound_file_name %></td>
      <td><%= track.image_file_name %></td>
      <td class="center"><%= track.created_at.strftime("%d %b %Y %H:%M") %></td>
      <td class="center"><%= track.updated_at.strftime("%d %b %Y %H:%M") %></td>
      <td class="actions">
        <%= link_to("Show", track_path(track.id), :class => 'action show') %>
        <%= link_to("Edit", edit_track_path(track), :class => 'action edit') %>
        <%= link_to("Delete", delete_track_path(track), :class => 'action delete') %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
