<% @page_title = "All Tracks" %>

<%= link_to("<< Back to Admin Overview", admin_path, :class => 'back-link') %>

<div class="tracks index">
  <h1>Tracks</h1>

  <%= link_to("Add New Track", new_track_path, :class => 'action new') %>

  <p>&nbsp;</p>

  <table class="listing" summary="Track list"

    <tr class="header">
      <th>Track</th>
      <th>Version</th>
      <th>Date</th>
      <th>Location</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Pitch</th>
      <th>Length</th>
      <th>Permalink</th>
      <th>Visible</th>
      <th>Attachment</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>

    <% @tracks.each do |track| %>
    <tr>
      <td><%= track.name %></td>
      <td><%= track.track_version %></td>
      <td class="center"><%= track.date_finished %></td>
      <td class="center"><%= track.location_finished %></td>
      <td class="center"><%= track.latitude %></td>
      <td class="center"><%= track.longitude %></td>
      <td class="center"><%= track.pitch %></td>
      <td class="center"><%= track.length %></td>
      <td class="center"><%= track.permalink %></td>
      <td class="center"><%= status_tag(track.visible) %></td>
      <td class="center"><%= track.sound %></td>
      <td class="center"><%= track.created_at %></td>
      <td class="center"><%= track.updated_at %></td>
      <td class="actions">
        <%= link_to("Show", track_path(track.id), :class => 'action show') %>
        <%= link_to("Edit", edit_track_path(track), :class => 'action edit') %>
        <%= link_to("Delete", delete_track_path(track), :class => 'action delete') %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
