<% @page_title = "Stops per track" %>

<p>&nbsp;</p>

<p><%= link_to("<< Back to Index", stop_map_path) %><br>

  <div class="tracks index">

    <p>&nbsp;</p>

    <h2>Stops per Track</h2>

    <table class="listing" summary="Track list"

      <tr class="header">
        <th>Tracks</th>
        <th>Stop Nr.</th>
        <th>Time of stop</th>
        <th>Title of stop</th>
      </tr>

      <% @tracks.each do |track| %>
      <tr>
        <%= track.name %><%= track.track_number %>

        <% track.stops.each do |stop| %>
        <td> <%= stop.stop_number %> </td>
        <td> <%= stop.stop_time %> </td>
        <td> <%= stop.stop_title %> </td>
        <% end %>
      </tr>
    <% end %>
    </table>
  </div>
