<% @page_title = "Names (Bird Guide Index)" %>

<div class="tracks index">
  <h1>Tracks sorted on Name (Field guide)</h1>

  <p>&nbsp;</p>

  <h2>Index</h2>

  <table class="listing" summary="Track list"

    <tr class="header">
      <th>TRACKS</th>
      <th>#</th>
      <th>Version</th>
      <th>Attachment</th>
    </tr>
    <% @tracks.each do |track| %>

    <tr>
      <td><%= track.name %></td>
      <td><%= track.track_number %></td>
      <td><%= track.track_version %></td>
      <% if track.sound.exists? %>
        <td><audio controls controlsList="nodownload">
                <source src="<%= track.sound %>" type="audio/ogg">
                <source src="<%= track.sound %>" type="audio/mpeg">
                  Your browser does not support the audio element.
            </audio>
        </td>
      <% end %>
    </tr>


  <% end %>
  </table>

</div>
