<% @page_title = "A Field Guide to Torn Tracks" %>

<div class="contentnames">
  <p>&nbsp;</p>
<%= link_to("<< Back to Index", names_path) %><br>
</div>
<div class="contentnames2">
    <div class="contentnames-inner">
      <h3 class="names-heading"> Versions available:</h3>
      
      <% avlen=0 %>
      <% avpit=0 %>

      <ul id="playlist" style="list-style-type:none">
        <% @tracks.each do |track| %>
          <li>
            <button class="playbutton"><%= link_to("▶", track.sound.to_s) %></button>
            <%= track.name %><%= track.track_number %> <i><%= track.track_version %></i>
          </li>
          <% avlen+=track.length.to_i %>
          <% avpit+=track.pitch %>
        <% end %>
      </ul>

      <audio class="name-audio" id="audio" controls controlsList="nodownload" preload="none">
        <source src="<%= @tracks[0].sound %>" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>

      <ul>
        <li>Average Length: <%= Time.at(avlen/@tracks.size).utc.strftime("%M:%S")%> min.</li>
        <li>Average Pitch: <%= (avpit/@tracks.size).round(2) %> Hz</li>
      </ul>

      <div class="map-element">
        <p>Where the tracks were made:</p>
        <br>
        <div id="custom_style_names" style='width: 100%; height: 300px;'>
			    <div id="OSMmap"></div>
		    </div>
		  </div>
	  </div>
</div>
   
  </p>
</div>

<script>
  $(document).ready(function () {
  	init();
  	function init(){
  		var current = 0;
  		var audio = $('#audio');
  		var playlist = $('#playlist');
  		var tracks = playlist.find('li a');
  		var len = tracks.length - 1;
  		audio[0].volume = .10;
  		//audio[0].play();
  		playlist.on('click','a', function(e){
  			e.preventDefault();
  			link = $(this);
  			current = link.parent().index();
  			run(link, audio[0]);
  		});
  		audio[0].addEventListener('ended',function(e){
  			current++;
  			if(current == len){
  				current = 0;
  				link = playlist.find('a')[0];
  			}else{
  				link = playlist.find('a')[current];
  			}
  			run($(link),audio[0]);
  		});
  	}
  	function run(link, player){
  			player.src = link.attr('href');
  			par = link.parent();
  			par.addClass('active').siblings().removeClass('active');
  			player.load();
  			player.play();
  	}
  });
</script>
