<% @page_title = "A Field Guide to Torn Tracks" %>


<div class="contentnames">
  <p>&nbsp;</p>
<%= link_to("<< Back to Index", names_path) %><br>
</div>
<div class="contentnames2">

    <h3> Versions available: </h3>

    <% avlen=0 %>
    <% avpit=0 %>

    <p><ul id="playlist" style="list-style-type:none">

    <% @tracks.each do |track| %>
          <li><button class="playbutton"><%= link_to(">", track.sound.to_s) %></button>
          <%= track.name %><%= track.track_number %> <i><%= track.track_version %></i></li><br>

          <% avlen+=track.length.to_i %>
          <% avpit+=track.pitch %>
    <% end %>
  </ul></p>

  <audio id="audio" controls controlsList="nodownload" preload="none">
      <source src="<%= @tracks[0].sound %>" type="audio/mpeg">
      Your browser does not support the audio element.
  </audio>

  <p>
    <li>Average Length: <%= Time.at(avlen/@tracks.size).utc.strftime("%M:%S")%> min.</li>
    <li>Average Pitch: <%= (avpit/@tracks.size).round(2) %> Hz</li></p>



    <p>Where the tracks were made:</p>
    <p><div style='width: 100%'>
    <div id="custom_style" style='width: 300px; height: 200px;'></div>
    </div>

    <script>
    mapStyle = [
      {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [
              {"visibility": "on"},
              {"color": "#aee2e0"}
          ]
      },
      {
          "featureType": "landscape",
          "elementType": "geometry.fill",
          "stylers": [
              {"color": "#abce83"}
          ]
      },
      {
          "featureType": "poi",
          "elementType": "geometry.fill",
          "stylers": [
              {"color": "#769E72"}
          ]
      },
      {
          "featureType": "poi",
          "elementType": "labels.text.fill",
          "stylers": [
              {"color": "#7B8758"}
          ]
      },
      {
          "featureType": "poi",
          "elementType": "labels.text.stroke",
          "stylers": [
              {"color": "#EBF4A4"}
          ]
      },
      {
          "featureType": "poi.park",
          "elementType": "geometry",
          "stylers": [
              {"visibility": "simplified"},
              {"color": "#8dab68"}
          ]
      },
      {
          "featureType": "road",
          "elementType": "geometry.fill",
          "stylers": [
              {"visibility": "simplified"}
          ]
      },
      {
          "featureType": "road",
          "elementType": "labels.text.fill",
          "stylers": [
              {"color": "#5B5B3F"}
          ]
      },
      {
          "featureType": "road",
          "elementType": "labels.text.stroke",
          "stylers": [
              {"color": "#ABCE83"}
          ]
      },
      {
          "featureType": "road",
          "elementType": "labels.icon",
          "stylers": [
              {"visibility": "on"}
          ]
      },
      {
          "featureType": "road.local",
          "elementType": "geometry",
          "stylers": [
              {"color": "#A4C67D"}
          ]
      },
      {
          "featureType": "road.arterial",
          "elementType": "geometry",
          "stylers": [
              {"color": "#9BBF72"}
          ]
      },
      {
          "featureType": "road.highway",
          "elementType": "geometry",
          "stylers": [
              {"color": "#EBF4A4"}
          ]
      },
      {
          "featureType": "transit",
          "stylers": [
              {"visibility": "on"}
          ]
      },
      {
          "featureType": "administrative",
          "elementType": "geometry.stroke",
          "stylers": [
              {"visibility": "on"},
              {"color": "#87ae79"}
          ]
      },
      {
          "featureType": "administrative",
          "elementType": "geometry.fill",
          "stylers": [
              {"color": "#7f2200"},
              {"visibility": "off"}
          ]
      },
      {
          "featureType": "administrative",
          "elementType": "labels.text.stroke",
          "stylers": [
              {"color": "#ffffff"},
              {"visibility": "on"},
              {"weight": 4.1}
          ]
      },
      {
          "featureType": "administrative",
          "elementType": "labels.text.fill",
          "stylers": [
              {"color": "#495421"}
          ]
      },
      {
          "featureType": "administrative.neighborhood",
          "elementType": "labels",
          "stylers": [
              {"visibility": "off"}
          ]
      }
    ]

    handler = Gmaps.build('Google');
    handler.buildMap({
        internal: {id: 'custom_style'},
        provider: {
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          styles: mapStyle
        }
      },
        function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    </script>
  </p>
</div>

<script>
  $(document).ready(function () {
  	init();
  	function init(){
  		var current = 0;
  		var audio = $('#audio');
  		var playlist = $('#playlist');
  		var tracks = playlist.find('li a');
  		var len = tracks.length - 1;
  		audio[0].volume = .10;
  		//audio[0].play();
  		playlist.on('click','a', function(e){
  			e.preventDefault();
  			link = $(this);
  			current = link.parent().index();
  			run(link, audio[0]);
  		});
  		audio[0].addEventListener('ended',function(e){
  			current++;
  			if(current == len){
  				current = 0;
  				link = playlist.find('a')[0];
  			}else{
  				link = playlist.find('a')[current];
  			}
  			run($(link),audio[0]);
  		});
  	}
  	function run(link, player){
  			player.src = link.attr('href');
  			par = link.parent();
  			par.addClass('active').siblings().removeClass('active');
  			player.load();
  			player.play();
  	}
  });
</script>
