<% @page_title = "Chronology" %>

<div class="tracks index">

  <p>&nbsp;</p>

  <div class="container">
    <% @tracks.each_with_index do |track, i| %>

      <div data-card="<%= i %>" class="card">
        <div id="cardtitle">
          <%= track.date_finished.strftime("%B %d, %Y") %>
        </div>

        <% if track.image.exists? %>
        <img src="<%= track.image %>" style="width:500px;height:350px;">
        <% end %>

        <span>
          <%= track.name %>
          <%= track.track_number %>
          <%= track.track_version %>
          <% if track.sound.exists? %>
            <div id="audiochronolgy"><audio controls controlsList="nodownload" preload="metadata">
                    <source src="<%= track.sound %>" type="audio/mpeg">
                      Your browser does not support the audio element.
                </audio>
            </div>
          <% end %>
        </span>

      </div>
    <% end %>
  </div>

</div>
