<% @page_title = "Pitches" %>


  <h1>The Tracks Sorted on Pitch</h1>
  <br>
  <!--Input: only numbers-->
  <%= scatter_chart Track.pluck(:track_number, :pitch), xtitle: "Track #",
  ytitle: "Pitch", label: "Pitch", width: "100%"%>

  <br>
  <div class="index">  <p id="curraudiotitle">Playing: Track #<%= @tracks.first.track_number %></p> </div>

  <div class="acontainer">
     <audio id="player" controls>
        <source src="<%= @tracks.first.sound %>" type="audio/mpeg">
          Your browser does not support the audio element.
    </audio>
  </div>
    <% @tracks.each do |track| %>
    <div class="index">
      <% if track.sound.exists? %>
        <div class="isection">
          <a href="#" class="newsound" data-arglink="<%= track.sound %>" data-argtitle="<%= track.pitch %>" role="button">
          <%= image_tag(asset_path('468294.svg'),  alt: "play sound", class: "playerimage", width: "15px", align:"left", class:"icon")%>&nbsp;&nbsp;Pitch: <%= track.pitch %> </a></div>
        <div class="isection">Track # <%= track.track_number %></div>
        <div class="isection"><%= track.track_version %></div>
      <% end %>
    </div>
  <% end %>

  <p>&nbsp;</p>

  <!--Input: string + number-->
  <!--<%= bar_chart Track.group(:track_version).sum(:pitch), label: "Pitch" %>-->
