<% @page_title = "Pitches" %>

<%= link_to("<< Back to Index", root_path) %>

<div class="tracks index">
  <h1>The Tracks Sorted on Pitch</h1>

  <p>&nbsp;</p>

  <table class="listing" summary="Track list"

    <tr class="header">
      <th>Track</th>
      <th>#</th>
      <th>Pitch</th>
    </tr>

    <% @tracks.each do |track| %>
    <tr>
      <td><%= track.name %></td>
      <td><%= track.track_number %></td>
      <td><%= track.pitch %></td>
      <% if track.sound.exists? %>
        <td><audio controls controlsList="nodownload">
                <source src="<%= track.sound %>" type="audio/mpeg">
                  Your browser does not support the audio element.
            </audio>
        </td>
      <% end %>
      </td>
    </tr>
  <% end %>
  </table>

</div>
