<% @page_title = "Pitches" %>

<div class="tracks index">
  <h1>The Tracks Sorted on Pitch</h1>

  <!--Input: only numbers-->
  <%= scatter_chart Track.pluck(:track_number, :pitch), xtitle: "Track #",
  ytitle: "Pitch", label: "Pitch" %>

  <br>

  <table class="listing" summary="Track list"

    <tr class="header">
      <th>Pitch</th>
    </tr>

    <% @tracks.each do |track| %>
    <tr>
      <td><%= track.pitch %></td>
      <% if track.sound.exists? %>
        <td><audio controls controlsList="nodownload" preload="none">
                <source src="<%= track.sound %>" type="audio/mpeg">
                  Your browser does not support the audio element.
            </audio>
        </td>
      <td>Track #<%= track.track_number %></td>
      <td><%= track.track_version %></td>

      <% end %>
      </td>
    </tr>
  <% end %>
  </table>

  <p>&nbsp;</p>

  <!--Input: string + number-->
  <!--<%= bar_chart Track.group(:track_version).sum(:pitch), label: "Pitch" %>-->

</div>
