<% @page_title = "Admin Menu" %>

<div class="amenu">
  <h2>Admin Menu</h2>
  <div class="identity">Logged in as: <%= @username %></div>
  <ul>
    <li><%= link_to("Manage Tracks", tracks_path) %></li>
    <li><%= link_to("Manage API-keys", keys_path) %></li>
    <li><%= link_to("Manage Stops", stops_path) %></li>
    <li><%= link_to("Manage Admin Users", admin_users_path) %></li>
    <li><%= link_to("Logout", access_logout_path) %></li>
  </ul>
</div>
