<% @page_title = "All Stops" %>

<%= link_to("<< Back to Admin Overview", admin_path, :class => 'back-link') %>

<div class="stops aindex">
  <h1>Stops</h1>

  <%= link_to("Add New Stop", new_stop_path, :class => 'action new') %>

  <p>&nbsp;</p>

  <table class="listing" summary="Stop list"

    <tr class="header">
      <th>Stop-track (sound of stop)</th>
      <th>Time of stop</th>
      <th>Track ID (track containing this stop)</th>
    </tr>

    <% @stops.each do |stop| %>
    <tr>
      <td><%= stop.stop_number %></td>
      <td><%= stop.stop_time %></td>
      <td><%= stop.track_id %></td>

      <td class="actions">
        <%= link_to("Show", stop_path(stop.id), :class => 'action show') %>
        <%= link_to("Edit", edit_stop_path(stop), :class => 'action edit') %>
        <%= link_to("Delete", delete_stop_path(stop), :class => 'action delete') %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
