<% @page_title = "Locations" %>

<%= link_to("<< Back to Index", root_path) %>

<div class="tracks index">
  <h1>Location Tracks</h1>

  <p>&nbsp;</p>

  <table class="listing" summary="Track list"

    <tr class="header">
      <th>Track</th>
      <th>#</th>
      <th>Location</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>

    <% @tracks.each do |track| %>
    <tr>
      <td><%= track.name %></td>
      <td><%= track.track_number %></td>
      <td><%= track.location_finished %></td>
      <td class="center"><%= track.latitude %></td>
      <td class="center"><%= track.longitude %></td>
      </td>
    </tr>
  <% end %>
  </table>

  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

  <script>
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
  </script>

</div>
