<%= link_to_unless_current("Index", root_path) %>
<p>&nbsp;</p>
<ul>
  <li><%= link_to_unless_current("Name", names_path) %></li>
  <li><%= link_to_unless_current("Chronology", finished_dates_path) %></li>
  <li><%= link_to_unless_current("Locations", locations_path) %></li>
  <li><%= link_to_unless_current("Pitch", pitches_path) %></li>
  <li><%= link_to_unless_current("Tags", root_path) %></li>
  <p>&nbsp;</p>
  <li><%= link_to_unless_current("About", root_path) %></li>
</ul>


<!--<% tracks ||= [] %>-->
  <!--<ul>-->
    <!--<% tracks.visible.sorted.each do |track| %>-->
      <!--<li><%= link_to_unless_current(track.name, public_show_path(track.permalink)) %></li>-->
    <!--<% end %>-->
  <!--</ul>-->
