
<%= link_to_unless_current("Index", root_path) %>

<p>&nbsp;</p>

<ul>
  <li><%= link_to_unless_current("Name", root_path) %></li>
  <li><%= link_to_unless_current("Chronologically", root_path) %></li>
  <li><%= link_to_unless_current("Locations", locations_index_path) %></li>
  <li><%= link_to_unless_current("Pitch", root_path) %></li>
  <li><%= link_to_unless_current("Tags", root_path) %></li>

<p>&nbsp;</p>

  <%= link_to_unless_current("About", root_path) %>
</ul>


<!--<% tracks ||= [] %>-->
  <!--<ul>-->
    <!--<% tracks.visible.sorted.each do |track| %>-->
      <!--<li><%= link_to_unless_current(track.name, public_show_path(track.permalink)) %></li>-->
    <!--<% end %>-->
  <!--</ul>-->
