<!DOCTYPE html>
<html>

  <head>
    <title>Torn Tracks Chronologically</title>
    <%= stylesheet_link_tag('application', :media => 'all') %>
    <%= javascript_include_tag('application') %>
    <script> document.addEventListener('play', function(e){
        var audios = document.getElementsByTagName('audio');
        for(var i = 0, len = audios.length; i < len;i++){
            if(audios[i] != e.target){
                audios[i].pause();
              }}},
        true); </script>
  </head>

  <body>
    <div id="wrapper">
      <div id="mainchronology">
        <div class="btn-group">
          <button class="button"><%= link_to_unless_current("<<", root_path) %></button>
          <button class="button"><%= link_to_unless_current("i", about_index_path) %></button>
        </div>

        <div id="contentchronology">
          <%= yield %>
        </div>

        <div class="clear"></div>
      </div>

      <div id="footer">
        <p id="copyright">&copy; jiskahuizing.com</p>
      </div>
    </div>
  </body>

</html>
