<!DOCTYPE html>
<html>

  <head>
    <title>A Field Guide to Torn Tracks</title>
    <%= stylesheet_link_tag('names', :media => 'all') %>
    <%= javascript_include_tag('application') %>
    <script> document.addEventListener('play', function(e){
        var audios = document.getElementsByTagName('audio');
        for(var i = 0, len = audios.length; i < len;i++){
            if(audios[i] != e.target){
                audios[i].pause();
              }}},
        true); </script>
  </head>

  <body>

    <div id="headernames">
    </div>

    <div id="mainnames">
      <div id ="navigationnames">
        <ul>
          <li><%= link_to_unless_current("<<", root_path) %></li>
          <li><%= link_to_unless_current("i", about_index_path) %></li>
        </ul>
      </div>

      <div id="content">
        <%= yield %>
        <p>&nbsp;</p>
      </div>

      <div class="clear"></div>
    </div>

    <div id="footer">
      <p id="copyright">&copy; jiskahuizing.com</p>
    </div>

  </body>

</html>
