<!DOCTYPE html>
<html>

  <head>
    <title>Torn Tracks Pitch</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <%= stylesheet_link_tag('application', :media => 'all') %>
    <%= javascript_include_tag('application') %>
    <script>
      $(document).on("turbolinks:load", function() {
         const player = new Plyr('#player');
         $('.newsound').on('click', function(event) {
           event.preventDefault();
           var arglink = $(this).data('arglink');
           var argtitle = $(this).data('argtitle');
           player.source = {
               type: 'audio',
               title: argtitle,
               sources: [
                   {
                       src: arglink,
                       type: 'audio/mpeg',
                   },
               ],
           };
           document.getElementById("curraudiotitle").innerHTML = 'Playing: Track # '+argtitle;
           player.play();
          })
       });
    </script>
  </head>

  <body>
      <div class="page pitch">
          <div class="menu">
            <button class="button"><%= link_to("<<", public_index_path) %></button>
            <button id="button">i</button>

            <div id="myModal" class="modal">
              <div class="modal-content">
                <span class="close">&times;</span>
                  <p>&nbsp;</p>
                  <p>This is a sketch for the page where all the tracks are organised
                  on their 'average pitch'<sup>1</sup>.<br>
                  This pitch is calculated per track, based on all the
                  pitches that are present in it.</p>
                  <p>&nbsp;</p>
                  <p><sub><sup>1</sup> I wonder how this (non)information relates to the track it represents?
                  Or if it relates to it at all? </sub></p>
                  <p>&nbsp;</p>
              </div>
            </div>
        </div>



        <div class="content">
          <%= yield %>
        </div>

        <div class="clear"></div>
      </div>

      <div class="footer">
        <p id="copyright">&copy; Jiska Huizing <%= Date.today.year %></p>
      </div>
  </body>

  <script>
    // Get the modal
    var modal = document.getElementById('myModal');
    // Get the button that opens the modal
    var btn = document.getElementById("button");
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    // When the user clicks on the button, open the modal
    btn.onclick = function() {modal.style.display = "block";}
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { modal.style.display = "none"; }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
        }
      }
  </script>

</html>
