<!DOCTYPE html>
<html>

  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>Torn Tracks</title>
       <%= stylesheet_link_tag('application', :media => 'all') %>
  </head>

  <body>

      <div class="page public">
        <div id ="navigation">
          <%= render(:partial => 'layouts/navigation', :locals => { :tracks => @tracks}) %>
        </div>

        <div class="content">
          <div id="publictext">
          <%= yield %>
          </div>
        </div>
        <div class="clear"></div>
      </div>

      <div class="footer">
        <p id="copyright">&copy; Jiska Huizing <%= Date.today.year %></p>
      </div>
      
      <%= javascript_include_tag('application') %>


  </body>

</html>
