<!DOCTYPE html>
<html>

  <head>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>Sketch Maps</title>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBuB8PRIyrIrEfCXUp26YwksMEWkLL1orw"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
    <%= stylesheet_link_tag('application', :media => 'all') %>
    <%= javascript_include_tag('application') %>
    <script>
      $(document).on("turbolinks:load", function() {
         const player = new Plyr('#player');
         $('.content').on('click', '.timeline-event', function(event) {
           event.preventDefault();
           var arglink = $(this).data('arglink');
           var argtitle = $(this).data('argtitle');
           player.source = {
               type: 'audio',
               title: argtitle,
               sources: [
                   {
                       src: arglink,
                       type: 'audio/mpeg',
                   },
               ],
           };
           document.getElementById("curraudiotitle").innerHTML = 'Now playing: Track # '+argtitle;
           player.play();
          })
       });

    </script>
  </head>

  <body>

      <body>
          <div class="page locations">
            <div class="menu">
                <button class="button"><%= link_to("<<", public_index_path) %></button>
                <button id="button">i</button>

              <div id="myModal" class="modal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <p>&nbsp;</p>
                  <p>The tracks shown here are ones that have side trails and stops along their ways.
                    These side paths can focus on things such as a specific detail in a recording,
                    a view or object (seen, heard or imagined), thoughts and reflections, or sounds
                    not recorded.</p>
                  <p>The term <em>sketch map</em> comes from the book Lines<sup>1</sup> by Tim Ingold, and describes
                    a type of map one can make while describing a specific route to someone.
                    These maps can for example consist of spoken or sung verbal instructions,
                    sketches on paper and/or ephemeral instructions like hand gestures.</p>

                  <p><i>“… the lines on the sketch map are formed through the gestural re-enactment of
                    journeys actually made … They are lines of movement. … The map makes no claim
                    to represent a certain territory, or to mark the spatial locations of features
                    included within its frontiers. … Just as the country through which the wayfarer
                    passes is composed of the meshwork of paths of travel, so the sketch map consists
                    – no more and no less – of the lines that make it up. They are drawn along, in
                    the evolution of a gesture, rather than across the surfaces on which they are
                    traced. Indeed in principle the lines of a sketch map need not be traces on any
                    surface at all. … The map grows line by line as the conversation proceeds, and
                    there is no point at which it can ever be said to be truly complete."</i></p>

                  <p>The tracks one can listen to on this page can be seen as sketch maps of places
                    visited and paths walked. A collection of trails and observations, movements,
                    thoughts, sounds.</p>
                    <p>&nbsp;</p>
                  <p><sub><sup>1</sup> p.87-88, <i>Lines</i>, Tim Ingold, Taylor & Francis Ltd, London, 2016</sub></p>
                  <p>&nbsp;</p>
                </div>
              </div>
            </div>
            <div class="content">
              <div id="publictext">
              <%= yield %>
              </div>
            </div>

            <div class="clear"></div>
          </div>

          <div class="footer">
            <p id="copyright">&copy; Jiska Huizing <%= Date.today.year %></p>
          </div>
      </body>

      <script>
        // Get the modal
        var modal = document.getElementById('myModal');
        // Get the button that opens the modal
        var btn = document.getElementById("button");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks on the button, open the modal
        btn.onclick = function() {modal.style.display = "block";}
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() { modal.style.display = "none"; }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
            }
          }
      </script>
  </body>

</html>
